*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;   
  display: flex;
  justify-content: center; 
  align-items: center;  
  background: linear-gradient(45deg, #0a0a0a, #3a3352);    
  
}
.calculator {
  border: 1px solid #717377;
    padding: 20px;
      border-radius: 16px;
      background-color: transparent;
      box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
      max-width: 380px;
      min-width: 280px;
}

input{
  width: 100%;
  border: none;
  padding:24px;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: not-allowed;
  
}
 input::placeholder{
  color: #e8e8e8;
 }

button{
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 20px;
  border-radius: 50%;
  background: transparent;
  color: #15e8e8;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
 cursor: grab;
         
}
 .equalBtn{
  background: #fb7c14;
  cursor: grab;
 }
 .operator{
  color:#6dee0a;
 }
 .owner{
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 10px cyan,
               0px 0px 10px cyan,
               0px 0px 10px cyan,
               0px 0px 10px cyan;

 }
 .workinprogress{
  color: yellow;
  text-align: center ;
   text-shadow: 0px 0px 10px rgb(225, 255, 0),
               0px 0px 10px rgb(225, 255, 0),
               0px 0px 10px rgb(225, 255, 0),
              0px 0px 10px rgb(225, 255, 0);


              
 }
